<br><br><br>
<h1>Welcome to XSS challange 12</h1>
<h1>Add Posts</h1>
<br>
<br>
<%= form_for :post, url: posts_path do |f| %>
	<% if @post.errors.any? %>
		<% @post.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger">
				<%= msg %>
				</div>
		<% end %>
	<% end %>
	
	<%= f.text_area(:title, {:class => 'bottom-border-none tinymce', :cols => 45, :rows => 5}) %>
	<%= f.label :title %><br>
	<%= f.text_field(:title, {:class => 'form-control'}) %>
	</br>
	</br>
	<%= f.label :body %><br>
	<%= f.text_area(:body, {:class => 'form-control'}) %>
	</br>
	</br>
	<%= f.submit(:class => 'btn btn-info') %>
	
<% end %>

